h1 {
    text-align: center;
    text-decoration: underline;
    margin: 5px;
    font-size: 3vw;
}

h2, h3 {
    text-align: center;
    margin: 10px;
}

h2 {
    font-size: 2vw;
}

form {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-align: left;
    /* min-width: 40%; */
}

form.menu {
    border: 1px solid black;
    border-radius: 4%;
}

label {
    display: block;
    margin: 5px;
    font-size: larger;
}

input.menu {
    margin: 5px;
    font-size: large;
    max-width: 50%;
}

button {
    color: white;
    background-color: blue;
    font-size: larger;
    border-radius: 100%;
    margin: 5px;
}

button.menu {
    background-color: orange;
    border-radius: 4%;
    color: black;
}

.centered {
    text-align: center;
}

.error {
    color: red;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    margin: 5px;
}

table {
    display: inline-table;
    min-width: 50%;
    table-layout: fixed;
}

th, td {
    min-width: 55px;
    table-layout: fixed;
}

.empty {
    background-color: lightgray;
    text-align: center;
}

.oops {
    background-color: red;
    text-align: center;
}

.miss {
    background-color: white;
}

.form-section {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.flag {
    background-color: goldenrod;
    text-align: center;
}

.win {
    font-size: 72px;
    /* background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent; */
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
}

.blast {
    font-size: 72px;
    color: red;
}

.instructions {
    background-color: beige;
    height: 400px;
    margin: 10px;
    border: 1pt solid green;
    border-radius: 4%;
}