h1 {
    text-align: center;
    text-decoration: underline;
    margin: 5px;
    font-size: 3vw;
}

h2, h3 {
    text-align: center;
    margin: 10px;
}

h2 {
    font-size: 2vw;
}

h4 {
    color: brown;
}

form {
    display: inline-block;
    border-radius: 4%;
    margin: 10px;
    padding: 10px;
    text-align: left;
    min-width: 40%;
}

form.menu {
    border: 1px solid black;
}

label {
    display: block;
    margin: 5px;
    font-size: larger;
}

input.menu {
    margin: 5px;
    font-size: large;
    max-width: 50%;
}

p, li {
    margin: 5px;
}

button {
    color: white;
    background-color: blue;
    font-size: larger;
    border-radius: 100%;
    margin: 5px;
}

button.menu {
    background-color: orange;
    border-radius: 4%;
    color: black;
}

.centered {
    text-align: center;
}

.error {
    color: red;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    margin: 5px;
}

table {
    display: inline-table;
    min-width: 50%;
    table-layout: fixed;
}

th, td {
    min-width: 55px;
    table-layout: fixed;
}

.empty {
    background-color: blue;
    text-align: center;
}

.oops {
    background-color: red;
    text-align: center;
}

.miss {
    background-color: white;
}

.form-section {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.flag {
    background-color: goldenrod;
    text-align: center;
}

.win, .blast {
    font-size: 72px;
    color: red;
}