{% extends "base.html" %}

{% block content %}
    <section class="centered">
        <section class="form-section">
            <table>
                <tr>
                    {% for column in columns %}
                        <th class="centered">{{column}}</th>
                    {% endfor %}
                </tr>
                {% for row in rows %}
                    <tr>
                        {% for cell in row %}
                            {% if cell|length == 1 %}
                                <td class="centered"><b>{{cell}}</b></td>
                            {% else %}
                                <td class="empty"><button type="submit" value="{{cell}}" name="guess" disabled>{{cell}}</button></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </section>
        <section class="form-section">
            <form class="menu" action="/" method="POST">
                <h2>Main Menu</h2>
                <label>
                    Select the number of mines: <br>
                    <input class="menu" name="num_mines" type="number" min="5" max="20" placeholder="5 - 20" required/>
                </label>
                <section class="centered">
                    <button class="menu">Start Game</button>
                </section>
            </form>
        </section>
    </section>
{% endblock %}