{% extends "base.html" %}

{% block content %}
<header class="centered">
    <button class="menu" form="game-board" name="guess" value="restart">New Game</button>
    {% if session['num_mines'] == 0 %}
        <h1 class="win">YOU WIN!!!!!</h1>
    {% elif session['hit_mine'] %}
        <h1 class="blast">KA-BOOM!!!</h1>
    {% endif %}
</header>
<section class="centered">
    <form id="game-board" action="/play" method="POST">
        <section class="centered">
            <label><input type="checkbox" name="flagged"/>Flag Mine</label>
        </section>
        <table autofocus>
            <tr>
                {% for column in session['columns'] %}
                    <th class="centered">{{column}}</th>
                {% endfor %}
            </tr>
            {% for row in session['rows'] %}
                <tr>
                    {% for cell in row %}
                        {% if cell|length == 1 %}
                            <td class="centered"><b>{{cell}}</b></td>
                        {% elif cell in session['guesses'] %}
                            <td class="miss"><h3>{{session['mine_counts'][cell]}}</h3></td>
                        {% elif cell in session['flags'] %}
                            <td class="flag"><button type="submit" value="{{cell}}" name="guess" disabled>{{cell}}</button></td>
                        {% elif session['hit_mine'] and cell in session['mines'] %}
                            <td class="oops"><button type="submit" value="{{cell}}" name="guess" disabled>{{cell}}</button></td>
                        {% elif session['hit_mine'] %}
                            <td class="empty"><button type="submit" value="{{cell}}" name="guess" disabled>{{cell}}</button></td>
                        {% else %}
                            <td class="empty">
                                <button type="submit" value="{{cell}}" name="guess">{{cell}}</button>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </form>
</section>
{% endblock %}